/***********************************/
/* BELOW 690px (Smaller desktops) */
/* *********************************/

@media (max-width: 69em) {
  body {
    width: 100%;
    height: 100vh;
  }
  .btn {
    font-size: 1rem;
    padding: 1.6rem 2.4rem;
    left: 5%;
  }

  .between {
    top: 15%;
    text-align: center;
    font-size: 1.2rem;
    right: 5%;
  }

  h1 {
    font-size: 2rem;
    top: 65%;
  }

  .number {
    font-size: 3rem;
    width: 10rem;
    padding: 2rem 0rem;
  }

  .guess {
    font-size: 3rem;
    padding: 2rem;
    width: 15rem;
  }

  .message {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    height: 2rem;
    right: 10%;
  }

  p {
    font-size: 0.9rem;
    right: 10%;
  }
}
